<div id="<%= dom_id blog %>">
  <% if blog.id.present? %>
  <p>
    <strong>Ide:</strong>
    <%= blog.id %>
  </p>
  <% end %>
  <p>
    <strong>Text:</strong>
    <%= blog.text %>
  </p>

  <p>
    <strong>Title:</strong>
     
  </p> 

</div>
